@model List<spare_parts_shopping.Models.Orders>
@{
    ViewBag.Title = "ProductOrders";
    var newModel = Model.GroupBy(x => x.ProductId);
    decimal totalOrderPrice = 0;
    foreach (var item in Model)
    {
        if (item.Products != null)
        {
            var singleProductTotalPrice = item.Products.Price * item.Quantity;
            totalOrderPrice += singleProductTotalPrice;
        }

    }

}




<h1>Sepet</h1>
<div class="orders">
    @foreach (var item in Model)
    {
        if (item.Products != null)
        {
            <div class="order__item">
                <div class="order__left">
                    <div class="order__image">
                        <img src="/images/@item.Products.Image" />
                    </div>
                    <div class="order__information">
                        <div class="product__title">
                            <span>@item.Products.Id - @item.Products.Name</span>
                        </div>
                        <div class="product__price">
                            <span>@item.Products.Price TL</span>
                        </div>
                    </div>
                    <div class="product__price">
                        <span>x @item.Quantity = @(item.Products.Price * item.Quantity) TL</span>
                    </div>
                    @if (item.StockError)
                    {
                        <span class="product__error-stock">Bu üründen maksimum @item.Products.Stock adet alabilirsiniz.</span>
                    }

                </div>
                <div class="order__right">
                    <div class="order__buttons">
                        <a href="/products/ProductIncrease?productId=@item.Products.Id">+</a>
                        <a href="/products/ProductDecrease?productId=@item.Products.Id">-</a>

                    </div>
                </div>
            </div>
        }

    }
    @if (Model.Where(x => x.Products != null).ToList().Count > 0)
    {
        <div class="order__summary">
            <span>Toplam : <b>@(totalOrderPrice) TL</b></span>

        </div>
        <div class="order__summary">
            <a href="/payment/stockCheck">Ödeme Yap</a>
        </div>

    }

</div>
